<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Personal Blog</title>
</head>

<body>
    <div id="container">
        <header>
            <a href="index.html"><img src="images/welcomeblog.jpeg" alt="My Personal Blog" class="blog"></a>
        </header>
        <div class="navbar">
            <nav>
                <ul id="navOptions">
                    <li><a href="index.html">Home</a> </li>
                    <li><a href="about.html">About</a> </li>
                    <li><a href="interest.html">Interest</a> </li>
                    <li><a href="skills.html">Skills</a> </li>
                    <li><a href="contact.html">Contact</a> </li>
                </ul>
            </nav>
            <img src="images/menu.png" alt="" class="menu-icon" onclick="menuToggle()">
        </div>
        <main></main>
        <hr class="line">
        <footer>
            &copy; Copyright 2022. All rights reserved <br>
            <a href="mailto:bhattasaisnehitha@gmail.com">bhattasaisnehitha@gmail.com</a>
        </footer>
    </div>
    <script>
        var navOptions = document.getElementById("navOptions");
        navOptions.style.maxHeight = "0px";
        function menuToggle() {
            if (navOptions.style.maxHeight == "0px") {
                navOptions.style.maxHeight = "200px"
            }
            else {
                navOptions.style.maxHeight = "0px"
            }
        }
    </script>
</body>

</html>